<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Company" %></title>
    <%= stylesheet_link_tag 'employee', "data-turbo-track": "reload"  %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
